.productDisplay {
  display: flex;
  flex-direction: column;
}
.productRow {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
.productRowAdjust {
  width: 100%;
  display: flex;
  flex-shrink: 3;
}
.productDetail {
  border: rgb(201, 232, 235) 4px solid;
  background-color: white;
  float: left;
  width: 20%;
  justify-content: center;
  text-align: center; 
}
.productImage {
  height: 180px;
  width: 80%;
}
p {
  height: 5px;
}
a{
    width: 20%;
    justify-content: center;
    text-align: center;
}
.ancher:hover{
    color: black;
}